<form action="/result">
  <div class="form-group">
    <label for="user_word">Enter your word</label>
    <input id="user_word" type="text" name="user_word" class="form-control">
    <label for="user_string">Enter a string of words separated by spaces</label>
    <input id="user_string" type="text" name="user_string" class="form-control">
  </div>
  <button type="submit" name="button" class="btn btn-success btn-lg" id="submit">Count</button>
</form>
